<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tnjdesigns.mgccc-activities" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MGCCC Activites</name>
    <description>
        An app to keep MGCCC students informed on current and upcoming campus activities.
    </description>
    <author email="tyler@tnjdesigns.com" href="http://tnjdesigns.com">
        Tyler Johnson
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />
</widget>
